<div class="p-6">
  <app-data-table
    [data]="customers"
    [fields]="fields"
    (add)="openAdd()"
    (edit)="openEdit($event)"
    (view)="openView($event)"
    (remove)="delete($event)">
  </app-data-table>

  <app-modal
    [open]="modalOpen"
    [title]="modalMode === 'add' ? 'Add Customer'
          : modalMode === 'edit' ? 'Edit Customer'
          : 'Customer Details'"
    (close)="modalOpen = false">

    <app-dynamic-form
      *ngIf="modalMode !== 'view'"
      [fields]="fields"
      [model]="selected"
      (submit)="save($event)"
      (cancel)="modalOpen = false">
    </app-dynamic-form>

    <div *ngIf="modalMode === 'view'">
      <div *ngFor="let f of fields">
        <strong>{{ f.label }}:</strong> {{ selected[f.key] }}
      </div>
    </div>

  </app-modal>
</div>